button{
    width: 250px;
    height: 80px;
    font-family: Roboto;
    color: #fff;
    border:2px solid #fff;
    border-radius: 15px;
    cursor: pointer;
    font-size:25px;
    margin: 20px;
}
.botn-click:hover{
    background-color: #004864;
}
.botReiniciar:hover{
    background-color: #aa0000;
}

.botn-click{
    background-color:blue;
}

.botReiniciar{
    background-color:red;
}